{
	"agentid": "utility",
	"name": "ENERCON",
	"message": "utility agent starting up",
	"resources": [{"type":"ACresource","owner":"ENERCON", "location": "AC.RES.BUS1.LOAD1", "name":"Phaeton", "capCost":100, "amortization_period":10, "maxDischargePower":4,"dischargeChannel":2,"fuel_cost":0.05},
			]
}
